In [1]:
import numpy as np
import pandas as pd

# Pandas Time zone information

In [3]:
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D')
print(rng.tz)

None

In [4]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

### Getting lists of time zones

In [6]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))

439
593

### What are the time zones that not considered 'common'?

In [7]:
print(set(all_timezones) - set(common_timezones))

{'America/Louisville', 'Pacific/Johnston', 'Zulu', 'Etc/GMT-8', 'Asia/Rangoon', 'Etc/GMT-9', 'Etc/GMT-3', 'Asia/Saigon', 'Etc/GMT-1', 'America/Santa_Isabel', 'Etc/GMT+1', 'Etc/GMT+3', 'NZ', 'Israel', 'Etc/GMT+10', 'Europe/Tiraspol', 'Etc/Universal', 'Egypt', 'PRC', 'America/Shiprock', 'Mexico/BajaSur', 'Australia/Tasmania', 'Turkey', 'Europe/Belfast', 'Australia/Victoria', 'Australia/North', 'Etc/UCT', 'US/Aleutian', 'America/Argentina/ComodRivadavia', 'America/Ensenada', 'Australia/Queensland', 'Asia/Dacca', 'Etc/GMT', 'EET', 'Australia/LHI', 'America/Montreal', 'MET', 'GMT0', 'Asia/Calcutta', 'Japan', 'Etc/GMT-0', 'Chile/EasterIsland', 'Libya', 'Cuba', 'Australia/West', 'Etc/GMT-6', 'America/Fort_Wayne', 'NZ-CHAT', 'Mexico/General', 'Mexico/BajaNorte', 'Etc/GMT+5', 'America/Catamarca', 'America/Mendoza', 'Asia/Chongqing', 'Etc/GMT-14', 'Jamaica', 'America/Atka', 'Singapore', 'Asia/Thimbu', 'Australia/Yancowinna', 'Iran', 'Australia/South', 'America/Porto_Acre', 'Etc/Zulu', 'W-SU', 'Etc/GMT+8', 'Etc/UTC', 'GB-Eire', 'Eire', 'Asia/Ashkhabad', 'Etc/GMT+11', 'Asia/Katmandu', 'America/Indianapolis', 'Etc/GMT-12', 'Etc/GMT+12', 'US/Pacific-New', 'GMT+0', 'Etc/GMT+9', 'Pacific/Ponape', 'Kwajalein', 'America/Coral_Harbour', 'GMT-0', 'Asia/Istanbul', 'Pacific/Truk', 'Canada/Yukon', 'Brazil/Acre', 'Etc/GMT-13', 'Australia/Canberra', 'Australia/NSW', 'America/Cordoba', 'WET', 'America/Virgin', 'Atlantic/Jan_Mayen', 'Asia/Macao', 'Asia/Kashgar', 'Asia/Tel_Aviv', 'Africa/Asmera', 'Poland', 'Asia/Harbin', 'Etc/GMT-5', 'Brazil/West', 'Etc/GMT+0', 'US/Samoa', 'America/Knox_IN', 'Navajo', 'UCT', 'Chile/Continental', 'Etc/GMT+7', 'Antarctica/South_Pole', 'Etc/GMT-11', 'Brazil/DeNoronha', 'US/Indiana-Starke', 'Etc/GMT-2', 'Australia/ACT', 'Etc/GMT+2', 'Hongkong', 'Etc/Greenwich', 'Etc/GMT+6', 'Etc/GMT-10', 'Asia/Chungking', 'ROK', 'Brazil/East', 'HST', 'Universal', 'Asia/Ulan_Bator', 'ROC', 'Portugal', 'US/Michigan', 'Asia/Ujung_Pandang', 'Etc/GMT-7', 'Etc/GMT0', 'CST6CDT', 'Pacific/Yap', 'MST', 'US/East-Indiana', 'Atlantic/Faeroe', 'America/Jujuy', 'Iceland', 'Canada/Saskatchewan', 'MST7MDT', 'Africa/Timbuktu', 'CET', 'EST', 'Europe/Nicosia', 'PST8PDT', 'America/Buenos_Aires', 'Canada/East-Saskatchewan', 'Greenwich', 'Etc/GMT+4', 'Pacific/Samoa', 'EST5EDT', 'Etc/GMT-4', 'America/Rosario', 'GB'}

### Localizing a timestamp

In [8]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [9]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [10]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

### Daylight savings

In [11]:
# how to handle daylight savings?
rng = pd.date_range('2016-03-10', periods=10, tz='US/Central')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00-06:00    0
2016-03-11 00:00:00-06:00    1
2016-03-12 00:00:00-06:00    2
2016-03-13 00:00:00-06:00    3
2016-03-14 00:00:00-05:00    4
2016-03-15 00:00:00-05:00    5
2016-03-16 00:00:00-05:00    6
2016-03-17 00:00:00-05:00    7
2016-03-18 00:00:00-05:00    8
2016-03-19 00:00:00-05:00    9
Freq: D, dtype: int64

In [12]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int64

In [13]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int64

In [28]:
rng_hourly = pd.DatetimeIndex(['11/06/2011 00:00', '11/06/2011 01:00', '11/06/2011 01:00', '11/06/2011 02:00', '11/06/2011 03:00'])
rng_hourly

DatetimeIndex(['2011-11-06 00:00:00', '2011-11-06 01:00:00',
               '2011-11-06 01:00:00', '2011-11-06 02:00:00',
               '2011-11-06 03:00:00'],
              dtype='datetime64[ns]', freq=None)

In [29]:
rng_hourly = rng_hourly.tz_localize('US/Central', ambiguous='infer')
rng_hourly

DatetimeIndex(['2011-11-06 00:00:00-05:00', '2011-11-06 01:00:00-05:00',
               '2011-11-06 01:00:00-06:00', '2011-11-06 02:00:00-06:00',
               '2011-11-06 03:00:00-06:00'],
              dtype='datetime64[ns, US/Central]', freq=None)

In [30]:
rng_hourly.tz_convert('utc')

DatetimeIndex(['2011-11-06 05:00:00+00:00', '2011-11-06 06:00:00+00:00',
               '2011-11-06 07:00:00+00:00', '2011-11-06 08:00:00+00:00',
               '2011-11-06 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [31]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [32]:
# May autocorrect an error rather than giving you a non-existent time error
pd.Timestamp('2016-03-13 02:00', tz = 'US/Eastern')

NonExistentTimeError: 2016-03-13 02:00:00